<%= javascript_include_tag 'TheMask', 'data-turbo-track': 'reload', defer: true %>
<%= javascript_include_tag 'inssCalculatorView', 'data-turbo-track': 'reload', defer: true %>

<div class="main">
  <!-- Masthead-->
  <div class="masthead">
    <div class="masthead-content text-white">
      <div class="container-fluid px-4 px-lg-0">
        <h1 class="fst-italic lh-1 mb-4">Calcule sua contribuição do INSS</h1>
        <p class="mb-5">Você deve informar seu salário bruto também conhecido como <em>Salário de contribuição</em>.
          Some o <em>Salário Base</em>, as <em>Horas Extras</em> e o <em>Repouso Remunerado</em>.
        </p>
        <%= form_with url: calculate_legacy_inss_calculator_path, method: :post, id: "inss_calculator_form" do |form| %>
          <div id="input-group-calculator" class="row input-group-newsletter mb-4">
            <div class="col">
              <%= form.text_field :masked_salary, class: "form-control", value: "1412,00", placeholder: "Somente números" %>
              <%= form.hidden_field :salary %>
            </div>
            <div class="col-auto">
              <%= form.submit "Calcular", id: "insss_calculator_submit_button", class: "btn btn-primary", data: { turbo: false } %>
            </div>
            <div id="input-salary-alert">
            </div>
          </div>
          <div>
            <div class="form-check">
              <%= form.check_box :public, class: "form-check-input", value: "false" %>
              <%= form.label :public, "Servidor Público", class: "form-check-label" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "icons" %>
</div>

<%= render "blog" %>
