<%= javascript_include_tag 'VMasker', 'data-turbo-track': 'reload', defer: true %>
<%= javascript_include_tag 'inssCalculatorView', 'data-turbo-track': 'reload', defer: true %>
<!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="#" type="video/mp4" /></video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">Calcule sua contribuição do INSS</h1>
            <p class="mb-5">Você deve informar seu salário bruto também conhecido como <em>Salário de contribuição</em>.
              Some o <em>Salário Base</em>, as <em>Horas Extras</em> e o <em>Repouso Remunerado</em>.
            </p>
            <form>
                <!-- Email address input-->
                <div class="row input-group-newsletter">
                    <div class="col"><input class="form-control" id="email" type="email" placeholder="Digite apenas os números" aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                    <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Calcular</button></div>
                </div>
                <div class="invalid-feedback mt-2" data-sb-feedback="email:required">An email is required.</div>
                <div class="invalid-feedback mt-2" data-sb-feedback="email:email">Email is not valid.</div>
            </form>
        </div>
    </div>
</div>
<!-- Social Icons-->
<!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
<div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<main class="container" %>
  <div class="card shadow">
    <div class="card-body">
      <div class="card-header mb-3">
        <h1>
          Calcule sua contribuição do INSS
        </h1>
        <p class="form-text">Você deve informar seu salário bruto também conhecido como <em>Salário de contribuição</em>.
        Some o <em>Salário Base</em>, as <em>Horas Extras</em> e o <em>Repouso Remunerado</em>.</p>
      </div>

      <%= form_with url: calculate_inss_calculator_path, method: :post, id: "inss_calculator_form", class: "row row-cols-lg-auto g-3 align-items-center" do |form| %>
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">
            R$
          </div>
          <%= form.text_field :masked_salary, class: "form-control" %>
          <%= form.hidden_field :salary %>
        </div>
      </div>
      <div class="col-12">
        <div class="d-grid gap-2">
          <%= form.submit "Calcular", id: "inss_calculator_submit_button", class: "btn btn-lg btn-primary", data: { turbo: false } %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</main>

